/*comentario en css y scss*/
/*Reset*/
@use "base/reset" as *;

//Variables//

@use "../sass/utilidades/variables" as *;
@use "../sass/utilidades/mixin" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.header {
  justify-content: flex-start;
  background-color: $color-header;
  padding: 10px;
  font-size: 26px;
  height: 20vh;
  cursor: pointer;
  @include flex;

  ul {
    li {
      display: inline-block;
      margin: 10px;
      list-style: none;

      a {
        text-decoration: none;
        color: $color-texto;
      }
    }
  }
}

/* INICIO */

main {
  background-color: beige;
}

.contenedor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 650px 80px;
  grid-template-areas:
    "hijo1 hijo2"
    "hijo3 hijo3";
  align-items: flex-start;

  .hijo1 {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 15px;
    padding: 30px;
    grid-area: hijo1;
    height: 60vh;

    h1 {
      margin-bottom: 30px;
    }

    p {
      font-size: $font-size-principal;
      color: $color-texto;
    }
  
    .sol {
      margin-top: 30px;
      padding: 40px;
      @include medidas(350px, 350px);
    }
  }


  .hijo2 {
    flex-direction: column;
    margin-top: 35px;
    margin-left: 8px;
    grid-area: hijo2;
    height: 60vh;

    .signos {
      padding: 100px;
      @include medidas(650px, 600px);
      border-radius: 15px;
    }
  }

  .hijo3 {
    @include flex;
    justify-content: left;
    align-items: flex-start;
    background-color: $color-footer;
    width: 100%;
    grid-area: hijo3;
    height: 20vh;
    margin-top: 70px;


    .logo {
      @include flex;
      float: left;
      padding: 40px;
      @include medidas(120px, 120px);
      cursor: pointer;
      align-items: flex-start;

      .estilofooter{
        @include flex;
        align-items:flex-start;
        margin-top: 40px;
        
        
      }
    }
  }
}

@media (max-width: 700px) {
  .contenedor-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 650px 80px;
    grid-template-areas:
      "hijo1 hijo2"
      "hijo3 hijo3";
  }
}

/* PAGINA 1 */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px 100px;
  grid-template-areas:
    "item1 item2"
    "imagen2 imagen2";

  .item1 {
    @include flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    background-color: beige;
    padding: 40px;
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 30px;
    grid-area: item1;
    height: 60vh;
    ul {
      list-style-type: none;
      justify-content: left;
    }

    h2 {
      margin-bottom: 30px;
    }
  }

    .item2 {
      @include medidas(70px, 70px);
      grid-area: item2;
      height: 60vh;
      margin-top: 80px;

      .cartanatal {
        margin-top: 80px;
        @include medidas(70px, 70px);
      }
    }
  

  .imagen2 {
    display: flex;
    grid-area: imagen2;
    height: 20vh;
    width: 15%;
    @include medidas(15%, 80px);
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px 100px;
    grid-template-areas:
      "item1 item2"
      "imagen2 imagen2";
  }
}

//PÁGINA 2//

.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 800px 100px;
  grid-template-areas:
    "item4 item5"
    "item6 item6";

  .hijo {
    background-color: beige;

    padding: 40px;

    .item4 {
      @include flex;
      flex-direction: column;
      text-decoration: none;
      list-style-type: none;
      background-color: beige;
      padding: 40px;
      margin-top: 20px;
      font-size: 25px;
      margin-bottom: 30px;
      grid-area: item4;
      height: 60vh;
      ul {
        list-style-type: none;
        justify-content: left;
      }
    }

    .item5 {
      .laluna {
        width: 300px;
        height: 300px;
        grid-area: item5;
        height: 60vh;
      }
    }

    .item6 {
      color: $color-footer;
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      grid-area: item6;
      height: 10vh;

      .lead{
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  .grid-container1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 800px 100px;
    grid-template-areas:
      "item4 item5"
      "item6 item6";
  }
}
