.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: blanchedalmond;
  padding: 10px;
  font-size: 20px;
  height: 20vp;
  cursor: pointer;
  nav{
    
  }